/* body */
#page-container {
    background-color: mediumaquamarine;
}

/* header */
#header {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'New Tegomin', serif;
    color: darkgreen;
    text-align: center;
}

/* results */

.col {
    padding: 20px;
}

#input1 {
    background-color: lightgrey;
    color: darkgreen;
}

#input2 {
    background-color: lightgray;
    color: darkgreen;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}


/* footer */


#footer {
    background-color: lightcoral;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    height: 100px;
}